name: reviewdog
on: [pull_request]
jobs:
  shellcheck:
    permissions:
      pull-requests: write

    name: runner / shellcheck
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5.0.1
      - name: shellcheck
        uses: reviewdog/action-shellcheck@v1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
